details.accordion {
  padding: 0;
  margin-bottom: 0;
}

details.accordion > summary {
  padding: 1rem 0px;
  margin-bottom: 0rem !important;
}

details.accordion[open] {
  padding-bottom: 1rem;
}

.accordion.disabled summary {
  cursor: default;
}

.accordion.disabled summary:focus {
  color: inherit;
}

.accordion.disabled .icon,
.accordion.not-expandable .icon {
  background-image: none;
}

.accordion summary::after {
  background-image: none;
}

.accordion .icon {
  width: 1rem;
  height: 1rem;
  background-image: var(--icon-chevron);
  background-position: center;
  transform: rotate(-90deg);
}

details.accordion[open] .icon {
  transform: rotate(0);
}
