details.accordion {
  padding: 0;
  margin-bottom: 0;
}

details.accordion > summary {
  padding: 1rem 0px;
  margin-bottom: 0rem !important;
}

details.accordion[open] {
  padding-bottom: 1rem;
}

.accordion.disabled summary {
  cursor: default;
}

.accordion.disabled summary:focus {
  color: inherit;
}

.accordion.disabled summary::after,
.accordion.not-expandable summary::after {
  background-image: none;
}
