.tree-menu ul > li {
  padding: 0.2rem 0;
}

.tree-menu li > details > summary {
  padding: 1rem 0px;
  margin-bottom: 0;
}

.tree-menu summary > a {
  text-decoration: none;
  color: var(--muted-color);
}

.tree-menu summary > a.active {
  color: var(--color);
}

.tree-menu li ul details {
  border-bottom: none;
}

.tree-menu details {
  margin-bottom: 0;
  padding-bottom: 0;
}
