@import '@picocss/pico/css/pico.css';
@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import 'bootstrap/dist/css/bootstrap-utilities.min.css';

body,
html,
#root {
  min-height: 100vh;
  height: 100%;
}

input:not([type='checkbox'], [type='radio']),
select,
textarea,
button {
  margin-bottom: 0px;
}

input:not([type='checkbox'], [type='radio'], [type='range']) {
  height: auto;
}

:root {
  --invalid-color: #b71c1c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}

.helper-text {
  color: var(--secondary);
  margin-top: 0.3rem;
}

.invalid {
  color: var(--invalid-color);
}

.invalid-border {
  border-color: var(--form-element-invalid-border-color) !important;
}

.invalid-border:focus {
  border-color: var(--form-element-invalid-active-border-color) !important;
  box-shadow: 0 0 0 var(--outline-width) var(--form-element-invalid-focus-color) !important;
}

.invalid-icon::after {
  background-image: var(--icon-invalid);
}

.no-bullet {
  list-style: none;
}
