details.accordion {
  padding: 0;
}

details.accordion > summary {
  padding-bottom: 1rem;
  margin-bottom: 0rem !important;
  display: flex;
  justify-content: space-between;
}

details.accordion[open] {
  padding-bottom: 1rem;
}

.accordion.disabled summary {
  cursor: default;
}

.accordion.disabled summary:focus {
  color: inherit;
}

.accordion.disabled summary::after {
  background-image: none;
  animation: spinner 0.75s linear infinite;
}
